.img-wrapper {
  width: 100%;
  top: 0;
}
.Shape_5 {
  background-color: rgb(161, 161, 161);
  opacity: 0.788;
  position: absolute;
  width: 100%;
  height: 10rem;
  top: 0;
}

.taust_1 {
  background-image: url("../img/taust1.png");
  width: 1612px;
  position: absolute;
  height: 89px;
  top: 0;
 max-width: 100%;

}
.Shape_5_copy {
   background-image: url("../img/shape5.png");
   opacity: 0.788;
   position: absolute;
   left: 958px;
   top: 0;
   width: 144px;
   height: 68px;
 }

@media only screen and (max-width: 1030px) {
  .Shape_5 {
    height: max(8%);
  }
}

