


.img-wrapper {
  width: 100%;
  top: 0;
}
.Shape_5 {
  background-color: rgb(161, 161, 161);
  opacity: 0.788;
  position: fixed;
  width: 100%;
  height: 10rem;
  top: 0;
  z-index: 10;
}

.taust_1 {
  background-image: url("../img/taust1.png");
  background-repeat: no-repeat;
  width: 1612px;
  position: fixed;
  height: 89px;
  top: 0;
 max-width: 85%;
  z-index: 20;
}

.Login____Register_____Facebook ul {
  font-size: 25px;
  font-family: "Myriad Pro";
  color: rgb(36, 136, 5);
  line-height: 1.2;
  position: fixed;
  left: 50%;
  top: 21.513px;
}
.login-wraper  li {
  display: inline;
  padding: 5px;

}
.login-wraper li a {
  text-decoration: none;
  color: inherit;
}

.cart {
  background-image: url("../img/cart.png");
  background-repeat: no-repeat;
  position: fixed;
  left: 76%;
  top: 0px;
  width: 105px;
  height: 50px;
  z-index: 20;
}

.Shape_3 {
  background-color: rgb(36, 136, 5);
  opacity: 0.369;
  position: fixed;
  left: 75%;
  top: 5px;
  width: 3px;
  height: 59px;
  z-index: 20;
}

.owl-prev {
  position: absolute;
  top: 300px;
  left: 0;
  background: none !important;
  outline: none !important;

}
.owl-next {
  position: absolute;;
  top: 300px;
  right: 0;
  background: none !important;
  outline: none !important;
}

#mygtukas {
   text-align: center;
 }