$teksto-spalva:#909092;





@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
    font-family: 'Open Sans', sans-serif;
}
.header-content-wrapper {
    position: sticky;
    top: 0;
}
.logo-wrapper {
    float: left;
}
.menu-wrapper {
    float: right;
}
.menu-wrapper ul li {
    list-style: none;
    display: inline-block;
    font-size: 12px;
    text-decoration: none;
}
.menu-wrapper ul li [type="button"] {
    font-size: 12px;
}
.menu-wrapper ul li a {
    text-decoration: none;
    color: black;
    font-weight: 900;
    padding: 0px 9px;
}
.menu-wrapper ul {
    margin-top: 45px;
    height: auto;
    text-align: center;
}
.logo-wrapper a {
    height: auto;
    text-align: center;
}
/*body*/
.mentor-programa {
    font-size: 16px;
    color: $teksto-spalva;
}
.mentor-wrapper {
    margin-top: 8rem;

}
.ineta {
    margin-top: 3rem;
    width: 100%;
    height: auto;
}
.empowering {
    margin-top: 10rem;
}
.women {
    float: left;
}
.pirmoji {
    font-size: 15px;
    color: $teksto-spalva;
}
.lorem {
    width: 35%;
    float: right;
    font-size: 13px;
    color: $teksto-spalva;
    height: auto;
    text-align: justify;
    margin-right: 11rem;
    padding-bottom: 6rem;
}
@media only screen and (max-width: 900px) {
    .lorem {
        height: auto;
        text-align: center;
        float: none;
        width: 100%;
        padding-top: 7rem;
    }
}
.mentors-wrapper {
    height: auto;
    text-align: center;
    padding-left: 20rem;
    padding-right: 20rem;
    margin-bottom: 10rem;
}
.vadovai {
    font-size: 11px;
    color: $teksto-spalva;
}
@media only screen and (max-width: 900px) {
    .mentors-wrapper {
        height: auto;
        text-align: center;
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
.mentors-photo {
    display: inline-block;
    img {
        min-height: 110px;
        max-width: 110px;
    }
    h6 {
        padding-top: 1rem;
        margin-bottom: 0;
    }
    p {
        font-size: 10px;
        color: $teksto-spalva;
        padding-left: 10%;
        padding-right: 10%;
    }
}
.center {
    height: auto;
    text-align: center;
}
.juosta-wrapper {
    margin-top: 3rem;
}
.veikia-wrapper {
    margin-top: 5rem;
    p {
        font-size: 12px;
        color: $teksto-spalva;
        margin-top: 3rem;
        padding-left: 20rem;
        padding-right: 20rem;
        text-align: justify;
    }
}
@media only screen and (max-width: 900px) {
    .veikia-wrapper p {
        height: auto;
        text-align: center;
        width: 100%;
        padding-left: 0rem;
        padding-right: 0rem;
    }
}
.kodel-txt {
    float: left;
    font-size: 13px;
    padding-top: 20%;

}   
.kada-txt {
    float: right;
    font-size: 13px;
    padding-top: 20%;
}
.pink_bg {
    background-image: url(../img/pink_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 10%;
    p {
        opacity: 0.5;
        color: white;
    }
    h4 {
        color: whitesmoke;
    }
}
/*

    .kodel-txt {
        transform: translate( 0%, 70% );
        color: white;
        margin-left: 10%;
        margin-right: 58%;
        float: left;
    }

.pink_bg {
    background-image: url(../img/pink_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 25%;



.pink_bg {
    position: relative;
    color: whitesmoke;
    p {
        font-size: 12px;
        opacity: 0.5;
    }
    img {
        width: 100%;
        height: auto;
    }
    .kodel-txt {
        position: absolute;
        bottom: 32%;
        left: 10%;
        right: 55%;

    }
    .kada-txt {
        position: absolute;
        bottom: 38%;
        left: 55%;
        right: 10%;
    }
}
.image_mobile {
    display: none;
}
@media only screen and (max-width: 799px) {
    .pink_bg {
        h4 {
            font-size: 15px;
        }
        .kodel-txt {
            width: 80%;
            height: 63%;
            text-align: unset;
        }
        .kada-txt {
            width: 80%;
            height: 30%;
            text-align: center;
            left: 10%;
            bottom: 11%;
        }
    
    }
    .kodel-txt {
        width: 80%;
        height: 30%;
        text-align: center;
    }
    .kada-txt {
        position: absolute;
        width: 80%;
        height: 30%;
        text-align: center;
    }
    .image_full {
        display: none;
    }
    .image_mobile {
        display: unset;
    }
}*/
