#form-wrapper input {
  background-color: azure;
}
table tr td {
  border: 1px solid black;
  padding: 10px 10px;

}
table tr th {
  border: 1px solid black;
  padding: 10px 10px;

}
#emptytable {
  margin-top: 50px;

}
#mygtukas {
  color: coral;;
  padding: 10px 10px;
  border-radius: 12px;
}




=